# Rust build artifacts
target/

# CLI testing playground
.playground

# Environment files
.env
.env.local

.draft

# Nix
result

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
